<link rel="stylesheet" type="text/css" href="~/Content/CustomCss/Index/GridView/GridCss.css" />
<link rel="stylesheet" type="text/css" href="~/Content/CustomCss/FriendFeed/Middle/FriendFeedCSS.css"/>

<div id="feed">
    <h2>Friend Feed</h2>
    <h3>Where you can see what recipes your friends be peepin!</h3>
</div>




<div id="friendFeedContainer">
    <h4 id="friendsRecipiesTitle">Your Friend John's Recently Saved Recipies:</h4>
        <div id="FriendsRecipiesGrid">


        <div id="grid-layout" class="scroll">

            <div class="grid-item">POG</div>
            <div class="grid-item">DOG</div>
            <div class="grid-item">POG</div>
            <div class="grid-item">FOG</div>
            <div class="grid-item">SMOG</div>
            <div class="grid-item">POG</div>
            <div class="grid-item">FOG</div>
            <div class="grid-item">SMOG</div>
            <div class="grid-item">POG</div>
            <div class="grid-item">FOG</div>
            <div class="grid-item">SMOG</div>

          </div>

        </div>
    </div>

<div id="friendFeedContainer">
    <h4 id="friendsRecipiesTitle">Your Friend Mike's Recently Saved Recipies:</h4>
    <div id="FriendsRecipiesGrid">


        <div id="grid-layout" class="scroll">

            <div class="grid-item">POG</div>
            <div class="grid-item">DOG</div>
            <div class="grid-item">POG</div>
            <div class="grid-item">FOG</div>
            <div class="grid-item">SMOG</div>
            <div class="grid-item">POG</div>
            <div class="grid-item">FOG</div>
            <div class="grid-item">SMOG</div>
            <div class="grid-item">POG</div>
            <div class="grid-item">FOG</div>
            <div class="grid-item">SMOG</div>

        </div>

    </div>

    <div id="friendFeedContainer">
        <h4 id="friendsRecipiesTitle">Your Friend Mike's Recently Saved Recipies:</h4>
        <div id="FriendsRecipiesGrid">


            <div id="grid-layout" class="scroll">

                <div class="grid-item">POG</div>
                <div class="grid-item">DOG</div>
                <div class="grid-item">POG</div>
                <div class="grid-item">FOG</div>
                <div class="grid-item">SMOG</div>
                <div class="grid-item">POG</div>
                <div class="grid-item">FOG</div>
                <div class="grid-item">SMOG</div>
                <div class="grid-item">POG</div>
                <div class="grid-item">FOG</div>
                <div class="grid-item">SMOG</div>

            </div>

        </div>

    </div>
    <div id="friendFeedContainer">
        <h4 id="friendsRecipiesTitle">Your Friend Mike's Recently Saved Recipies:</h4>
        <div id="FriendsRecipiesGrid">


            <div id="grid-layout" class="scroll">

                <div class="grid-item">POG</div>
                <div class="grid-item">DOG</div>
                <div class="grid-item">POG</div>
                <div class="grid-item">FOG</div>
                <div class="grid-item">SMOG</div>
                <div class="grid-item">POG</div>
                <div class="grid-item">FOG</div>
                <div class="grid-item">SMOG</div>
                <div class="grid-item">POG</div>
                <div class="grid-item">FOG</div>
                <div class="grid-item">SMOG</div>

            </div>

        </div>

    </div>
    <div id="friendFeedContainer">
        <h4 id="friendsRecipiesTitle">Your Friend Mike's Recently Saved Recipies:</h4>
        <div id="FriendsRecipiesGrid">


            <div id="grid-layout" class="scroll">

                <div class="grid-item">POG</div>
                <div class="grid-item">DOG</div>
                <div class="grid-item">POG</div>
                <div class="grid-item">FOG</div>
                <div class="grid-item">SMOG</div>
                <div class="grid-item">POG</div>
                <div class="grid-item">FOG</div>
                <div class="grid-item">SMOG</div>
                <div class="grid-item">POG</div>
                <div class="grid-item">FOG</div>
                <div class="grid-item">SMOG</div>

            </div>

        </div>

    </div>
    <script src="~/Scripts/FriendFeed/FriendFeedHorizontalScroll.js"></script>
</div>