
/*
    #F7F8FA - Section background color
    #0F0F2C - Header background Color
    #27A761 - Header font color
    #e67e22 - orange

*/

#leftTopPanel {
    border: solid;
    border-color: black;
    border-width: 5px;
    height: 500px;
    overflow-y: auto;
    position: relative;

}
#_leftTopHeader {
    display: flex;
    padding-bottom: 10px;
    background: #0F0F2C;
    color: #27A761;
}


.userImg{
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:50%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}
#searchbar{
    display:flex;
    padding-bottom:20px;
}
#filterForUnwantedFood {
    padding-top: 20px;
    
}
#noFood {
    background: coral;
    color: white;
    margin-bottom: 5px;
}
.friendsLink{
    font-size:30px;
    padding-bottom:10px;
}
#addRecipeButton {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}




/*Modal PartialView CSS*/
.close {
    color: blue;
}

.cookTimeContainer {
    display: flex;
}

.cookTime {
    margin-left: 10px;
}

#modal-input {
    margin-right: 0px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

#modal-description-preview {
    margin-right: 0px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

#modal-preview-image {
    margin-right: 0px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

.modal-dialog{
    width: 800px;
}

form {
    align-items: center;
    width: 500px;
}

.modal-body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 0px;
}

textarea {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#recipeLabel {
    background-color: coral;
    margin-bottom: 0;
    color: white;
    border-radius: 5px 5px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    margin-top: 10px;
}

/*Modal Preview Container*/

.modal-preview-container{
    display: flex;
}

.modal-preview{
    display: flex;
    align-items: center;
    justify-content: center;
   /*margin-bottom: 200px;*/
   
   margin-bottom: 50%;
   margin-top: 20%;
    
}

#modalAlert{
    text-align: center;
    /*display: flex;
    justify-content: center;
    align-content: center;*/
    margin-bottom: 0px;
}

#deleteItemText{
    font-size: 11px;
    color: dimgrey;
}

#firstIngInput{
    margin-bottom: 10px;
}

#addIngredientButton{
    
}

#ingredientsContainer {
    
}
