<div class="row">
    <div class="col-md-2" id="IndexLeftSide">
        @Html.Partial("~/Views/Home/Index/Left/_leftTopPanel.cshtml")
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Home/Index/Left/_leftBottomPanel.cshtml")
            </div>

        </div>
    </div>
    <div class="col-md-8">
        @Html.Partial("~/Views/Home/MyProfile/Middle/_MyProfileGrid.cshtml")

    </div>
    <div class="col-md-2" id="IndexRightSide">
        <div id="RightSideHeaderContainer">
            <div id="HeaderImageContainer">
                <img src="~/Content/Images/ricebowl.png" class="image" />
            </div>
            <h3 id="RightHeaderDetailFontOne" class="HeaderSecondaryFontColor">Yummy</h3>
            <h3 class="HeaderFontColor">Details</h3>

        </div>
        @Html.Partial("~/Views/Home/Index/Right/_RightDetailsPanel.cshtml")
    </div>
</div>