@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2" id="IndexLeftSide">
        <h2>Left Side</h2>
        @Html.Partial("~/Views/Home/Index/Left/_leftTopPanel.cshtml")

    </div>
    <div class="col-md-8">
        <h2>Middle Side</h2>
        @Html.Partial("~/Views/Home/Index/Left/_GridView.cshtml")
    </div>
    <div class="col-md-2" id="IndexRightSide">
        <h2>Right Side</h2>
        @Html.Partial("~/Views/Home/Index/Right/_RightDetailsPanel.cshtml")
    </div>
</div>