@Styles.Render(("~/Content/CustomCss/Index/leftPArtialViews/BottomLeftPanel.css"))

<div id="ownedIngredients">
    <div id="bottomHeader">
        <h2>Owned Ingredients</h2>
    </div>
    <div id="haveIngredientsSearch">
        <input type="text" placeholder="Salt" id="haveIngredientsSearchInput" />
        <button type="button" id="addOwnedFood" name="search">Add Owned Ingredient</button>
    </div>
    <div id="filterhaveIngredients">
        
        
    </div>
</div>

<script src="~/Scripts/OwnedFoodItems.js"></script>