@Styles.Render(("~/Content/CustomCss/Index/leftPartialViews/leftTopPanel.css"))
<div id="leftTopPanel">
    <div id="_leftTopHeader">
        <div id="userImg">
            <img src="https://pbs.twimg.com/profile_images/949787136030539782/LnRrYf6e_400x400.jpg" class="userImg" />
        </div>
        <h2>Challenger PogMa</h2>

    </div>
    
    <div class="friendsLink">
        <a href="Home/Discover/Discover.cshtml">Friends</a>
    </div>
    <div id="searchBar">
        <input type="text" placeholder="Search Bar" />
        <button type="submit" name="search">Search</button>
    </div>
    <div id="filterForUnwantedFood">
        <button class="btn active" onclick="filterSelection('all')">Show All Food</button>
        <button class="btn" onclick="filterSelection('No Peanuts')">No Peanuts</button>
        <button class="btn" onclick="filterSelection('No Dairy')">No Dairy</button>
        <button class="btn" onclick="filterSelection('No Meat')">No Meat</button>
        <button class="btn" onclick="filterSelection('No Gluton')">No Gluton</button>
        <button class="btn" onclick="filterSelection('No Fruits')">No Fruits</button>

    </div>

    <div id="addRecipeButton">
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">
            Add Recipe
        </button>
    </div>

    @Html.Partial("~/Views/Home/Index/Left/_addRecipePartialModal.cshtml")
    
</div>


