
#grid-layout {
    background-color: lightcyan;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 850px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid black;
    overflow-y: auto;
    align-content: start;
    
}

.grid-item {
    background-color: white;
    border: 5px solid black;
    height: 250px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    
    text-align: center;
    padding: 0px;
    overflow-y: auto;
}

.item-picture {
    margin-top: 10px;
    width: 50%;
    object-fit: contain;
}
