@Styles.Render(("~/Content/CustomCss/Discover/Middle/FoodFinder.css"))
@model List<MealPreppers.Models.RecipeItem>


<div id="DiscoverMiddle">
    <div id="discoverHeader">
        <h2>Food Finder</h2>
        <h3>Find your new favorite recipes to cook and share with friends!</h3>
        
        
    </div>

    <div id="discoverFoodContainer">
        <div class="header">
            <h4>Click on the checkmark or X to find new recipes that may interest you!</h4>
        </div>
        
        
        @for (int i = 0; i < Model.Count; i++)
        {

        <div class="foodCards">
            <div id="foodName">
                <p>@Model[i].title</p>
            </div>
            <div id="CookTime">
                <p>@Model[i].prepTime</p>
            </div>
        </div>
        <div class="photo">
            <img src="@Model[i].imageURL" />
        </div>
        }

        <div class="buttons">
            <button type="button" class="btn" id="butt-nope"><i class="fa fa-ban" aria-hidden="true"></i></button>
            <button type="button" class="btn" id="butt-yes"><i class="fa fa-heart LargeCircleIcon"></i></button>
        </div>
    </div>
</div>