<link rel="stylesheet" type="text/css" href="~/Content/CustomCss/Index/GridView/GridCss.css" />
<link rel="stylesheet" type="text/css" href="~/Content/CustomCss/MyProfile/MiddleView/MyProfileMiddleCSS.css" />


<div id="userHome">
    <img src="https://pbs.twimg.com/profile_images/949787136030539782/LnRrYf6e_400x400.jpg" class="userImg" />
    <h2 id="userName">Users Profile</h2>
</div>

<div id="usersSocialStats">
    <p class="usersStats">Followers: 50</p>
    <p class="usersStats">Saved Recipies: 23</p>
    <p class="usersStats">Uploaded Recipies: 5</p>

</div>

<div id="userBio">
    <p class="userBioText">"Im finna flambé this fool"</p>
    <p class="userBioText">Grandma of 3, Killer of many more, #Crip>Blood</p>
    
</div>

<h3 id="usersProfileTitles">Users's Saved Recipies:</h3>
<div id="usersSavedRecipiesContainer">


    <div id="grid-layout">

        <div class="grid-item">POG</div>
        <div class="grid-item">DOG</div>
        <div class="grid-item">POG</div>
        <div class="grid-item">FOG</div>
        <div class="grid-item">SMOG</div>
        <div class="grid-item">POG</div>
        <div class="grid-item">FOG</div>
        <div class="grid-item">SMOG</div>
        <div class="grid-item">POG</div>
        <div class="grid-item">FOG</div>
        <div class="grid-item">SMOG</div>

    </div>

</div>

<h3 id="usersProfileTitles">Users's Self Uploaded Recipies:</h3>
<div id="usersUploadedRecipiesContainer">


    <div id="grid-layout">

        <div class="grid-item">DOG</div>
        <div class="grid-item">POG</div>
        


    </div>

</div>